.resume {
  background-color: white;
  min-height: 80%;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.header-line {
  height: 0.5rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: black;
  margin-top: 1.5rem;
}

hr {
  min-width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1.5rem 0;
  gap: 0.5rem;
  min-width: 100%;
}

.header-container h1 {
  font-size: 2.5rem;
}

.header-container address,
.header-container span {
  font-size: 1.25rem;
}
