.resume {
  background-color: white;
  min-height: 80%;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.header-line {
  height: 0.5rem;
  border: 0;
  border-radius: 0.2rem;
  background-color: black;
  margin-top: 1.5rem;
}

hr {
  min-width: 100%;
}

.general-info-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1.5rem 0;
  gap: 0.5rem;
  min-width: 100%;
}

.general-info-container h1 {
  font-size: 2.25rem;
}

.general-info-container address,
.general-info-container span {
  font-size: 1.25rem;
}

main {
  min-width: 100%;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.secondary {
  font-style: italic;
}

.education-container,
.experience-container {
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 100%;
}

.education-container h2,
.experience-container h2 {
  font-size: 1.25rem;
}

.education-container ul,
.experience-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
}
