form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 0.25rem;
}

.input-container label {
  color: #c7cbd1;
  font-family: "Merriweather";
  font-size: 0.9rem;
}

.input-container input,
.input-container textarea,
.date-container input {
  background-color: #f3f4f6;
  color: #111827;
  padding: 0.2rem;
  border: none;
  border-radius: 0.2rem;
  font-family: "Merriweather";
  font-size: 0.9rem;
}

.date-container {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  gap: 1rem;
}

.date-container input {
  min-width: 45%;
}

.from-container,
.to-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 0.2rem;
}

.gen-button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.gen-button-container button {
  min-width: 47.5%;
  border: none;
  border-radius: 0.4rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-width: 100%;
  min-height: 2rem;
  margin-top: 1rem;
  font-family: "Merriweather";
  font-size: 0.9rem;
}

.submit-and-edit-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.submit-and-edit-container button {
  min-width: 47.5%;
  min-height: 2.5rem;
}

button {
  border: none;
  border-radius: 0.4rem;
  background-color: #6b7280;
  color: #f9fafb;
}

button:hover {
  cursor: pointer;
  background-color: #9ca3af;
}

.delete-button:hover {
  background-color: #ff5555;
}

.delete-button {
  background-color: #dc2626;
  margin-left: auto;
  padding: 0.4rem;
}
