.section-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: cornflowerblue;
  min-width: 80%;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 0.25rem;
}

.button-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
  gap: 1rem;
  padding: 0.25rem 0 0.25rem 0;
}

.button-container button {
  flex-basis: 50%;
}
