.resume-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: ivory;
  min-height: 100vh;
  min-width: 30vw;
}

.main-container {
  background-color: cornflowerblue;
  min-height: 92vh;
  min-width: 92%;
  border-radius: 0.2rem;
}
