.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25%;
  max-height: 26vh;
  background-color: yellow;
  min-width: 80%;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  min-width: 60%;
  gap: 1rem;
}

.button-container button {
  min-width: 50%;
}
