.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  min-width: 70%;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 1rem 0 1rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  min-width: 60%;
  gap: 1rem;
}

.button-container button {
  min-width: 50%;
}
