.app {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.resume-builder {
  background-color: ivory;
  min-height: 100vh;
  min-width: 30%;
}

.resume {
  background-color: darkgray;
  min-height: 100vh;
  min-width: 70%;
}
