:root {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-family: "Montserrat";
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
    max-width: 65ch;
    font-family: "Merriweather";
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather-Light.woff2") format("woff2"),
    url("./assets/fonts/Merriweather-Light.woff") format("woff");
}
